@model EasyCredit.Models.Transactions

@{
    ViewBag.Title = "Realizar Pago";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pago de Cuota</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model, "LoanPayment", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(ViewBag.LoanPayment, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LoanAccount.Id, "", new { @class = "text-danger" })*@
            <input asp-for="IdPrestamo" class="form-control" value="@ViewBag.LoanPaymentId"  />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdClient, "IdClient", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("IdClient", null, htmlAttributes: new { @class = "form-control" })
            @*<input asp-for="Cliente" class="form-control" value="@ViewBag.Cliente" readonly />*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TypeTransId, "TypeTransId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("TypeTransId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TypeTransId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TransactionAmount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TransactionAmount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TransactionAmount, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PayMethodeId, "PayMethodeId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("PayMethodeId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PayMethodeId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value=" Enviar " class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink(" Relacion de Transacciones ", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
